<div class="row">
  <form (ngSubmit)="onAddItem(f)" #f="ngForm" class="col-12">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" 
             type="text" 
             name="name" 
             class="form-control" 
             placeholder="enter name" 
             aria-describedby="helpId"
             ngModel>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input id="amount" 
             type="number" 
             name="amount" 
             class="form-control" 
             aria-describedby="helpId"
             ngModel>
    </div>
    <div class="row">
      <button class="mx-1 btn btn-success" 
              type="submit">Add</button>
      <button class="mx-1 btn btn-danger" type="reset">Delete</button>
      <button class="mx-1 btn btn-primary" type="button">Clear</button>
      
    </div>
  </form>
</div>