<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand px-2" href="#">Recipe Book</a>
    <ul class="navbar-nav d-inline-block mr-auto">
        <li class="nav-item d-inline-block px-1 " routerLinkActive="active">
          <a 
          [routerLink]='["/recipes"]'
          (click)="activateRecipes()" 
          class="nav-link" 
        >Recipes</a>
        </li>
        <li class="nav-item d-inline-block px-1">
          <a (click)="activateShoppingList()" 
              class="nav-link" 
            
              [routerLink]='["/shopping-list"]'>Shopping list</a>
        </li>
      </ul>
      <li class="nav-item d-inline-block px-1">
        <a 
            class="nav-link" 
          
            [routerLink]='["/signup"]'>Register</a>
      </li>
      <li class="nav-item d-inline-block px-1">
        <a 
            class="nav-link" 
          
            [routerLink]='["/signin"]'>Login</a>
      </li>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" (click)="saveRecipes()">Save data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="fetchRecipes()">Fetch data</a>
        </li>
      </ul>
    </div>
  </nav>